.logo img 
{
	margin-left: 500px;
}

.menu, footer
{
	width: 1355px;
}

.meal
{
	width: 1000px;
	height: 120px;
	font-size: 26px;
	margin-left: 170px;
}

.price
{
	margin-left: 870px;
}

.button
{
	margin-left: 500px;
	margin-right: 500px;
}