/* Police*/

@font-face
{
	font-family: 'Roboto';
	src: url('Roboto.ttf')format('ttf');
	src: url('Roboto.eot')format('eot');
	src: url('Roboto.woff')format('woff');
	src: url('Roboto.uvg')format('uvg')m;
}

@font-face
{
	font-family: 'Shrikhand';
	src: url('fonts/Shrikhand.ttf')format('ttf');
	src: url('fonts/Shrikhand.otf')format('eot');
	src: url('fonts/Shrikhand.woff')format('woff');
	src: url('fonts/Shrikhand.uvg')format('uvg');
}

header, .reservation_operation, .restaurants, footer ul
{
	font-family: Roboto, Arial, Georgia, Verdana, Serif;
}

footer h2
{
	font-family: Shrikhand;
}


/*HEADER*/

.logo, .localisation, .reservation, .functioning
{
	text-align: center;
}

.localisation
{
	background-color: #e8e8e8;
	height: 70px;
	padding-top: 10px;
	margin-top: 40px;
}

/*SECTION OPÉRATION DE RÉSERVATION*/

.reservation
{
	background-color: #f7f5f5;
	margin-top: -20px;
	padding-top: 30px;
	padding-bottom: 50px;
}

.button
{
	border-width: 1px;
	border-style: hidden;
	border-radius: 30px 30px 30px 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 500px;
	margin-left: 500px;
	background: linear-gradient(#FF79DA, #9356DC);
	box-shadow: 5px 5px 5px rgb(196, 196, 196); /*ombre portée grise*/
	color: white;
}

.explore_button h3
{
	color: white;
}

.functioning_list
{
	border-width: 1px;
	border-color: #f7f5f5;
	border-style: solid;
	border-radius: 20px 20px 20px 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 400px;
	margin-left: 400px;
	background: #f7f5f5;
	margin-bottom: 50px;
	box-shadow: 5px 5px 5px rgb(196, 196, 196); /*ombre portée grise*/
}

.functioning_list:hover, .functioning_list:active
{
	background-color: #e8d3f2;
	border-color: #e8d3f2;
}

.icone:hover, .icone:active
{
	color: #9356DC;
}

.number
{
	border-width: 1px;
	border-color: #9356DC;
	border-style: solid;
	border-radius: 100px 100px 100px 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 692px;
	margin-left: 692px;
	background: #9356DC;
	color: white;
}

/*SECTION RESTAURANT*/

.restaurants
{
	background-color: #f7f5f5;
	padding-top: 30px;
	padding-bottom: 100px;
}

.restaurants h2
{
	text-align: center;
}


.card img
{
	height: 300px;
	width: 500px;
	border-style: hidden;
	border-radius: 40px 40px 0px 0px;
}

.card
{
	height: 420px;
	width: 504px;
	border-style: hidden;
	border-width: 0,5px;
	border-radius: 40px 40px 40px 40px;
	background-color: #f7f5f5;
	margin-left: 130px;
	margin-top: 30px;
	box-shadow: 5px 5px 5px rgb(196, 196, 196); /*ombre portée grise*/
}

.legend
{
	padding-left: 20px;
	display: flex;
	font-size: 20px;
}

.restaurant_name
{
	font-weight: bold;
}

.fa-heart
{
	margin-left: 250px;
	margin-top: 20Px;
	font-size: 30px;
}


.lot1, .lot2
{
	display: flex;
}

/*footer*/

footer
{
	background-color: #292d33;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 40px;

}

footer ul 
{
	list-style-type: none; /* Retire la puce devant les éléments de la liste*/
	display: flex;
}

footer li 
{
	padding-right: 200px;
}

footer a
{
	color: white;
}

footer a:hover
{
	color: #99E2D0;
}

