/* Police*/

@font-face
{
	font-family: 'Roboto';
	src: url('Roboto.ttf')format('ttf');
	src: url('Roboto.eot')format('eot');
	src: url('Roboto.woff')format('woff');
	src: url('Roboto.uvg')format('uvg');
}

@font-face
{
	font-family: 'Shrikhand';
	src: url('fonts/Shrikhand.ttf')format('ttf');
	src: url('fonts/Shrikhand.otf')format('eot');
	src: url('fonts/Shrikhand.woff')format('woff');
	src: url('fonts/Shrikhand.uvg')format('uvg');
}

.bloc_page
{
	font-family: Roboto, Arial, Georgia, Verdana, Serif;
}

h1, .title
{
	font-family: Shrikhand, Serif;
}


/*HEADER*/

.block_page
{
	width: 100%;
}

.logo
{
	text-align: center;
}

.photo
{
	width: 1450px;
	height: 700px;
	margin-left: -10px;
	margin-top: 30px;
}

/*SECTION MENU*/

.menu
{
	background-color: #f7f5f5;
	margin-left: 0px;
	margin-right: -20px;
	padding-top: 20px;
	border-style: solid;
	border-color: #f7f5f5;
	border-width: 1px;
	border-radius: 50px 50px 0px 0px;
	text-align: center;
}

.title
{
	font-size: 50px;
	font-weight: bold;
	margin-left: 200px;

}

.fa-heart
{
	margin-left: 200px;
}

.menu h2
{
	
	text-align: center;
	border-style: solid;
	border-color: red;
	margin-right: 550px;
	margin-left: 550px;
	border-top-color: #f7f5f5;
	border-left-color: #f7f5f5;
	border-right-color: #f7f5f5;
	border-bottom-color: #99E2D0;
	padding-bottom: 20px;
	margin-top: 100px;
}


.meal
{
	border-style: solid;
	border-color: white;
	border-radius: 40px 40px 40px 40px;
	box-shadow: 5px 5px 5px rgb(196, 196, 196); /*ombre portée grise*/
	background-color: white;
	margin-bottom: 20px;
	margin-right: 400px;
	margin-left: 400px;
	padding-bottom: 30px;
}



.meal 
{
	text-align: left;
	padding-left: 20px;
}

.price
{
	margin-left: 560px;
	margin-top: -50px;
}

.button
{
	border-width: 1px;
	border-style: hidden;
	border-radius: 30px 30px 30px 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: 600px;
	margin-left: 600px;
	background: linear-gradient(#FF79DA, #9356DC);
	box-shadow: 5px 5px 5px rgb(196, 196, 196); /*ombre portée grise*/
	color: white;
	margin-top: 60px;
	margin-bottom: 60px;
}

/*footer*/

footer
{
	background-color: #292d33;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 40px;

}

footer ul 
{
	list-style-type: none; /* Retire la puce devant les éléments de la liste*/
	display: flex;
}

footer li 
{
	padding-right: 200px;
}

footer a
{
	color: white;
}

footer a:hover
{
	color: #99E2D0;
}


